[submodule "tsx-tools"]
	path = tsx-tools
	url = https://github.com/andikleen/tsx-tools
[submodule "rocksdb"]
	path = rocksdb
	url = https://github.com/facebook/rocksdb
[submodule "junction"]
	path = junction
	url = git@github.com:preshing/junction.git
